body {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
        background-image: linear-gradient(to right,#e394a2 0,#b61e38 100%);
     
  }
  
  h2, h1 {
    font-family: 'Lora', serif;
    
  }
  
  .heart {
    fill: rgb(190, 14, 73);
    position: relative;
    top: 10px;
    width: 70px;
    animation: pulse 1s ease infinite;}
    @keyframes pulse {
        0% { transform: scale(1);}
        50% { transform: scale(1.3);}
        100% { transform: scale(1);}
    }
  

  .letter {
    background-color: #E7DCDE;
    width: 500px;
    padding: 48px;
    position: relative;  
    max-width: 100vw;
    margin: 5vh auto;
    border-radius: 20px;
    border: 3px solid #6E4667;
    -webkit-box-shadow: 0px 0px 21px 8px rgba(0,0,0,0.4); 
box-shadow: 0px 0px 21px 8px rgba(0,0,0,0.4);
  }

  
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 1.8s;
  }
  
  .modal-window > div {
    border-radius: 20px;
    border: 2px solid;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
    
    
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }

  .letter {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 
  ×
  